/* body styling */
body {
    background-image: linear-gradient(to bottom right, lightblue, blue);
}

/* jumbotron styling */
.jumbotron {
    background: url("../images/train-tunnel.png");
    background-size: 935px 260px;
    color: white;
}

/* Headers styling */
.card-header {
    background-color: darkgray;
    color: white;
    font-weight: bolder;
}

/* card styling */
.card {
    border: 1px solid darkgray;
}